---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
const pageTitle = "lipu open";
---
<BaseLayout pageTitle={pageTitle}>
  <h2 class="sitelen-seli-kiwen-mono-asuki">lipu ilo tan jan [pona e tenpo o kepeken olin tawa ale]</h2>
  <p class="sitelen-seli-kiwen-mono-asuki">o kokosila ala..</p>
  <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
</BaseLayout>
