---
const platform = "github";
const username = "pedrocosta";
import Social from './Social.astro';
---
<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>

<footer>
    <Social platform="twitter" username="pedrodixie" />
    <Social platform="github" username="pedrocosta" />
    <Social platform="youtube" username="eng.pedrocosta" />
</footer>
<p><a href="http://localhost:4321/rss.xml">RSS</a></p>